class SillyList extends React.Component {
  render() {
    return (
      React.createElement("ul", null,
        React.createElement("li", null, "silly!"),
        React.createElement("li", null, "me")
      );
    )
  }
}
