class ClickyButton extends React.Component {
  state = { active: false };

  handleClick = () => {
    this.setState({
      active: !this.state.active,
    });
  }

  render() {
    return (
      <button
        style={{ background: "green" }}
        onClick={this.handleClick}
      >
        {this.props.text}
      </button>
    );
  }
}
