class ClickyButton extends React.Component {
  state = { active: false };

  componentDidMount() {
    this.triggerFlash();
  }

  triggerFlash = () => {
    setInterval(() => {
      this.setState({ active: !this.state.active });
    }, 1000);
  }
  // getStyle
  // handleClick
  // render
}
