class ClickyButton extends React.Component {
  state = { active: false };

  render() {
    if(this.state.active) {
      return (
        <button style={{ background: "red" }}>
          {this.props.text}
        </button>
      );
    }
    return (
      <button style={{ background: "green" }}>
        {this.props.text}
      </button>
    );
  }
}
