class ClickyButton extends React.Component {
  state = { active: false };

  getStyle = () => {
    const style = { color: "white" };
    style.background = this.state.active ? "red" : "green";
    return style;
  }

  handleClick = () => {
    this.setState({ active: !this.state.active });
  }

  render() {
    return (
      <button
        style={this.getStyle()}
        onClick={this.handleClick}
      >
        {this.props.text}
      </button>
    );
  }
}
